html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom: 50px
}
footer { 
    position: absolute; 
    text-align: center;
    color: white;
    left: 0 ; right: 0; bottom: 0; 
    height:50px;
    padding-top: 10px;
    background-color: black;
}

.hero-feature {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    float: none;
}